body{
	background-image: url("../image/gif.gif");
	color: white;
}

.container1{
	display: flex;
}
.photo1{
	width: 14em;
	height: 15em;
	margin-left: 12em;
	border-radius: 40%;
	
}
h1{
	margin-left:1em;
	font-size:7rem;
	font-family:Castellar;
}
h1:hover{
	box-shadow: 5px 5px 15px 15px white;
}

img{
	width: 5rem;
	height: 5rem;
}
h3{
	text-align: center;
	font-size: 3rem;
	color: black;
	 text-shadow: 2px 2px 5px white;
	  background: lightblue;

}
table{
	border:5px solid #088F8F;
	width: 70%;
	height: 40rem;
	padding: 18px;
	margin-left: auto;
 	 margin-right: auto;
}
table:hover{
 	 box-shadow: 5px 5px 15px 15px  #088F8F;
 }

th,td{
	font-size: 30px;
	font-weight: bold;
	font-family: Lucida Fax;

}
.table1{
	height: 10rem;
	
}
.table2{
	height: 20rem;
		line-height: 4em;

}
.table3{
	height: 20rem;
	line-height: 4em;
}
.table4{
	height: 20rem;
	line-height: 4em;
}
td .dot{
	width: 30px;
	height: 30px;
	margin-left: 70px;
}
.table5 td{
	height: 6rem;
	text-align:left;
	border:1px solid #088F8F;
}
.table6{
	height: 0rem;
	font-size: 35px;
}


ol
 {
padding: 0;
list-style-type: none;
flex: 2;
display: flex;
 }

ol li
{
display: inline;
text-align: center;
flex: 1;
 }

a{
	text-decoration: none;
	font-size: 20px;
	color: white
}
#back{
	font-size: 20px;
}